<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
  <h1>Admin</h1>
  <button id="logout-button">Logout</button>
  <script src="static/script.js"></script>

  <button onclick="location.href='{{ url_for('uploadQuestion') }}'">Upload Question</button>
  <button onclick="location.href='{{ url_for('view_questions') }}'">View Questions</button>
  <button onclick="location.href='{{ url_for('student_answers') }}'">Student Answers</button>
</body>
</html>