<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Answers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Student Answers</h1>
        <table>
            <tr>
                <th>Student ID</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Photo</th>
                <th>View Answers</th>
            </tr>
            <tr>
                <td>{{ users.id }}</td>
                <td>{{ users.full_name }}</td>
                <td>{{ users.username }}</td>
<!--                <td><img src="data:image/jpeg;base64,{{ student.photo }}" alt="Profile Picture" width="50" height="50"></td>-->
<!--                <td><a href="{{ url_for('view_student_answers', student_id=users.id) }}">View Answers</a></td>-->
            </tr>

        </table>
    </div>
</body>
</html>