<!DOCTYPE html>
<html>
<head>
    <title>View Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- admin_view_report.html -->

    <div class="container">
        <h1>Student Report for {{ student_id }}</h1>
        <p>
            <a href="video_feed_results.html" class="btn btn-primary">Video Feed Results</a>
        </p>

        <div class="report-section">
            <h2>Answers</h2>

            <table class="table">
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer[0] }}</td>
                        <td>{{ answer[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>